@import "./theme.scss";

section {
    position: relative;
    display: block;
    max-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
}

.overlay-wrapper {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    .overlay-container {
        position: absolute;
        width: 100vw;
        overflow: hidden;
        transition: height 0.3s;

        .overlay-background {
            position: absolute;
            display: flex;
            width: 100vw;
            height: 100vh;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background-image: linear-gradient(to bottom left, $dark, $dark-hover);

            h1 {
                position: absolute;
                top: 0;
                left: 0;
                margin: 0;
                padding: 20px 40px;
                border-bottom-right-radius: 20px;
                background-color: $dark;
                z-index: 1;
                font-family: FiraSansCondensed;
                font-size: calc(max(4vw, 32px));
                color: $light;
                text-decoration: underline;
                text-underline-offset: 6px;
                text-decoration-color: $flair;
                text-decoration-thickness: 2px;
            }

            .quote {
                width: calc(min(100vw - 120px, 800px));
                font-family: Caveat;
                font-weight: 900;
                font-size: calc(24px + 2.25vw);
                color: $light;
                text-shadow: 0 0 10px $light-shadow;
                text-align: center;
                margin-bottom: 80px;
                z-index: 1;
            }

            .quotee {
                font-family: Roboto;
                font-weight: 700;
                font-size: 24px;
                color: $flair;
                text-shadow: 0 0 40px $flair;
                padding-left: calc(min(25vw, 200px));
                z-index: 1;
            }
        }
    }

    .show {
        height: 100vh;
    }

    .hide {
        height: 0;
    }
}

nav {
    display: flex;
    width: 100vw;
    height: 80px;
    background-color: $dark;
    align-items: center;
    margin: 0;
    overflow: hidden;

    .top-bar-option {
        position: relative;
        display: flex;
        height: 60px;
        padding: 10px 0;
        align-items: center;
        text-decoration: none;

        .top-bar-logo {
            width: 60px;
            height: 60px;
            border-radius: 6px;
            margin: 10px;
            background-color: $light;
        }

        label {
            font-family: Roboto;
            font-size: 22px;
            color: $light;
            padding: 0 14px;
        }

        .animated-underline-container {
            position: absolute;
            display: flex;
            bottom: 20px;
            left: 20px;
            width: calc(100% - 40px);
            height: 1.5px;
            justify-content: center;
        
            .animated-underline-bar {
                display: inline-block;
                width: 20%;
                height: 100%;
                opacity: 0;
                background-color: $flair;
                transition: width 0.4s, opacity 0.4s;
                -webkit-transition: width 0.4s, opacity 0.4s;
            }
        }
    }

    .option-hover:hover {
        background-color: $dark-hover;
        transition: background-color 1s;
        -webkit-transition: background-color 1s;

        .animated-underline-container {
            .animated-underline-bar {
                width: 100%;
                opacity: 1;
            }
        }
    }

    .option-hover:active {
        label {
            color: $flair;
            transition: color 0.1s;
            -webkit-transition: color 0.1s;
        }
    }

    .current {
        label {
            color: $flair;
        }
    }

    h1 {
        font-family: FiraSansCondensed;
        font-size: 28px;
        margin-left: 12px;
        color: $light;
    }

    .menu-button {
        position: absolute;
        right: 0;
        padding: 10px 12px;

        label {
            width: 32px;
            text-align: center;
            font-size: 28px;
        }
    }
}

.nav-menu-option {
    position: relative;
    display: flex;
    width: 100%;
    height: 55px;
    align-items: center;
    justify-content: center;
    border-top: 2px solid $flair;
    background-color: $dark;
    text-decoration: none;

    label {
        font-family: Roboto;
        font-size: 22px;
        color: $light;
        padding: 0 14px;
    }
}

.nav-menu-option:active {
    label {
        color: $flair;
        transition: color 0.1s;
        -webkit-transition: color 0.1s;
    }
}

.nav-menu-option:hover {
    background-color: $dark-hover;
    transition: background-color 1s;
    -webkit-transition: background-color 1s;
}

.front-section {
    position: relative;
    display: block;
    max-width: 100vw;
    min-height: calc(100vh - 80px);
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.carousel {
    display: block;
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.dot-controller {
    display: flex;
    width: 100%;
    height: 35px;
    align-items: center;
    justify-content: center;

    .dot-active {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        margin: 0 calc(min(1.5vw, 10px));
        background-color: $flair;
        transition: 0.4s;
        -webkit-transition: 0.4s;
    }

    .dot-inactive {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin: 0 calc(min(1.5vw, 10px));
        background-color: $light;
        transition: 0.4s;
        -webkit-transition: 0.4s;
    }

    .dot-inactive:hover {
        background-color: $flair;
    }
}

.revolve {
    position: absolute;
    width: 100%;
    height: 100%;

    perspective: 200px;
    -webkit-perspective: 200px;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transition: transform 1s;
    -webkit-transition: transform 1s;
}

.fade-container {
    width: 100%;

    .fade-active {
        transform: translateX(0) translateY(0);
        -webkit-transform: translateX(0) translateY(0);
        opacity: 1;
        transition: transform 1.4s, opacity 1.4s;
        -webkit-transition: transform 1.4s, opacity 1.4s;
    }

    .fade-left-inactive {
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        opacity: 0;
        transition: transform 1.4s, opacity 1.4s;
        -webkit-transition: transform 1.4s, opacity 1.4s;
    }

    .fade-right-inactive {
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        opacity: 0;
        transition: transform 1.4s, opacity 1.4s;
        -webkit-transition: transform 1.4s, opacity 1.4s;
    }

    .fade-vertical-inactive {
        transform: translateY(50%);
        -webkit-transform: translateY(50%);
        opacity: 0;
        transition: transform 1.4s, opacity 1.4s;
        -webkit-transition: transform 1.4s, opacity 1.4s;
    }
}

.particles {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 54px;
    background-color: $dark-hover;

    .links {
        display: flex;
        height: 100%;
        align-items: center;

        .bottom-bar-option {
            margin: 0 10px;
    
            .icon-svg {
                font-size: 32px;
                color: $light-shadow;
                transition: 0.4s;
                -webkit-transition: 0.4s;
            }
        }

        .bottom-bar-option:hover {
            .icon-svg {
                color: $light
            }
        }
    }

    label {
        position: relative;
        margin-right: 18px;
        font-family: FiraSansCondensed;
        font-size: 16px;
        color: $light
    }
}

.introduction-container, .about-statement {
    margin: 20px auto;
    padding: 20px;
    width: calc(min(100vw - 80px, 700px));
    border-radius: 20px;
    background-color: $dark-hover;

    font-family: Roboto;
    font-size: 24px;
    color: $light-shadow;

    h1 {
        font-family: FiraSansCondensed;
        font-size: calc(24px + 3vw);
        color: $light;
        text-align: center;
        margin: 20px 0;
        text-decoration: underline solid 2px $flair;
        text-underline-offset: 10px;
    }

    b, li {
        font-weight: 900;
        color: $light
    }

    br {
        display: block;
        content: "";
        margin-top: 18px;
    }
}