@import "./theme.scss";

section {
    position: relative;
    display: block;
    width: 100vw;
    min-height: 100vh;
}

nav {
    display: flex;
    width: 100%;
    height: 80px;
    background-color: $dark;
    align-items: center;
    margin: 0;
    overflow: hidden;

    .top-bar-option {
        position: relative;
        display: flex;
        height: 60px;
        padding: 10px 0;
        align-items: center;
        text-decoration: none;

        .top-bar-logo {
            width: 60px;
            height: 60px;
            margin: 10px;
            background-color: $light;
        }

        label {
            font-family: Roboto;
            font-size: 22px;
            color: $light;
            padding: 0 14px;
        }

        .animated-underline-container {
            position: absolute;
            display: flex;
            bottom: 20px;
            left: 20px;
            width: calc(100% - 40px);
            height: 1.5px;
            justify-content: center;

            .animated-underline-bar {
                display: inline-block;
                width: 20%;
                height: 100%;
                opacity: 0;
                background-color: $flair;
                transition: width 0.4s, opacity 0.4s;
            }
        }
    }

    .option-hover:hover {
        background-color: $dark-hover;
        transition: background-color 1s;

        .animated-underline-container {
            .animated-underline-bar {
                width: 100%;
                opacity: 1;
            }
        }
    }

    .option-hover:active {
        label {
            color: $flair;
            transition: color 0.1s;
        }
    }

    .current {
        label {
            color: $flair;
        }
    }

    h1 {
        font-family: FiraSansCondensed;
        font-size: 28px;
        margin-left: 12px;
        color: $light;
    }

    .menu-button {
        position: absolute;
        right: 0;
        padding: 10px 12px;

        label {
            width: 32px;
            text-align: center;
            font-size: 28px;
        }
    }
}

.nav-menu-option {
    position: relative;
    display: flex;
    width: 100%;
    height: 55px;
    align-items: center;
    justify-content: center;
    border-top: 2px solid $flair;
    background-color: $dark;
    text-decoration: none;

    label {
        font-family: Roboto;
        font-size: 22px;
        color: $light;
        padding: 0 14px;
    }
}

.nav-menu-option:active {
    label {
        color: $flair;
        transition: color 0.1s;
    }
}

.nav-menu-option:hover {
    background-color: $dark-hover;
    transition: background-color 1s;
}

.front-section {
    position: relative;
    display: block;
    width: 100%;
    height: calc(100vh - 80px);
}

.carousel {
    display: block;
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    white-space: nowrap;
}

.fade-container {
    width: 100vw;

    .fade-active {
        transform: translateX(0%) translateY(0);
        opacity: 1;
        transition: transform 1.4s, opacity 1.4s;
    }

    .fade-left-inactive {
        transform: translateX(-100%);
        opacity: 0;
        transition: transform 1.4s, opacity 1.4s;
    }

    .fade-right-inactive {
        transform: translateX(100%);
        opacity: 0;
        transition: transform 1.4s, opacity 1.4s;
    }

    .fade-vertical-inactive {
        transform: translateY(50%);
        opacity: 0;
        transition: transform 1.4s, opacity 1.4s;
    }
}

.particles {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}