@import "./theme.scss";

body {
    display: block;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.wideframe-image-container {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;

    .wideframe-image {
        display: inline-block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
    }
}

.action {
    display: inline-block;
    padding: 16px;
    font-family: FiraSansCondensed;
    font-size: calc(min(36px, 6vw));
    color: $light;
    text-shadow: $light-shadow 0 0 5px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 16px;
}

.people-content {
    display: flex;
    width:  100%;
    height: calc(100% - 250px);
    padding: 30px 0;
    margin-top: -20px;
    overflow: hidden;

    .content-box {
        position: absolute;
        width: 90%;
        max-width: 360px;
        height: 460px;
        border-radius: 12px;
    }

    .pictures-container {
        float: right;
        margin-right: calc(min(30px, 1.5vw));

        .picture {
            width: 100%;
            max-width: 360px;
            height: 460px;
            border-radius: 24px;
            object-fit: cover;
            object-position: top;
        }
    }

    .info-wrapper {
        float: left;
        margin-left: calc(min(30px, 1.5vw));

        .info-container {
            display: inline-block;
            width: 100%;
            max-width: 360px;
            height: 460px;
            border-radius: 24px;
            background-color: $dark-hover;

            h3 {
                width: 40%;
                margin: 24px auto;
                padding-bottom: 8px;
                font-family: FiraSansCondensed;
                font-size: 24px;
                color: $light;
                text-align: center;
                border-bottom: solid 1px $flair;
            }

            .info {
                padding: 0 10%;
                font-family: Roboto;
                font-size: 16px;
                line-height: 115%;
                color: $light-shadow;
                text-align: left;

                b, li {
                    font-weight: 900;
                    color: $light
                }

                br {
                    display: block;
                    content: "";
                    margin-top: 30px;
                }
            }
        }
    }
}