@import "./theme.scss";

body {
    display: block;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.wideframe-image-container {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;

    .wideframe-image {
        display: inline-block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
        filter: brightness(0.5) contrast(1.3) saturate(2.5);
        -webkit-filter: brightness(0.5) contrast(1.3) saturate(2.5);
    }
}

.action {
    display: inline-block;
    padding: 16px;
    font-family: FiraSansCondensed;
    font-size: 36px;
    color: $light;
    text-shadow: $light-shadow 0 0 5px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 16px;
}

.people-content-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;

    .content-box {
        width: 80%;
        max-width: 360px;
        height: 460px;
        border-radius: 12px;
    }

    .pictures-container {
        float: right;
        margin-right: calc(min(30px, 2.5vw));

        .picture {
            width: 40vw;
            max-width: 360px;
            height: 460px;
            border: 1px solid $light;
            border-radius: 24px;
            object-fit: cover;
            object-position: top;
            filter: contrast(1.2) saturate(1.2);
            -webkit-filter: contrast(1.2) saturate(1.2);
        }
    }

    .info-container {
        float: left;
        margin-left: calc(min(30px, 2.5vw));

        .info {
            width: 40vw;
            max-width: 360px;
            height: 460px;
            border: 1px solid $light;
            border-radius: 24px;
            background-color: rgb(70, 70, 70);
            text-align: center;
        }
    }
}