@import "./theme.scss";

.wideframe-image-container {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;

    .wideframe-image {
        display: inline-block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
    }
}

.action-transparent {
    display: inline-block;
    max-width: calc(100vw - 100px);
    padding: 16px;
    font-family: FiraSansCondensed;
    font-size: calc(min(36px, 6vw));
    color: $light;
    text-shadow: $light-shadow 0 0 5px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 16px;
}

.action-solid {
    display: inline-block;
    max-width: calc(100vw - 100px);
    padding: 16px;
    font-family: FiraSansCondensed;
    font-size: calc(min(30px, 5vw));
    color: $light;
    text-shadow: $light-shadow 0 0 5px;
    text-align: center;
    background-color: $dark-hover;
    border-radius: 16px;
}

.action-link {
    text-decoration: underline;
    text-decoration-color: $flair;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 4px;
}

.people-content {
    display: flex;
    width:  100%;
    height: calc(100% - 250px);
    padding: 30px 0;
    margin-top: -20px;
    overflow: hidden;

    .content-box {
        position: absolute;
        width: 90%;
        max-width: 360px;
        height: 460px;
        border-radius: 12px;
    }

    .pictures-container {
        float: right;
        margin-right: calc(min(30px, 1.5vw));

        .picture {
            width: 100%;
            max-width: 360px;
            height: 460px;
            border-radius: 24px;
            object-fit: cover;
            object-position: top;
        }
    }

    .info-wrapper {
        float: left;
        margin-left: calc(min(30px, 1.5vw));

        .info-container {
            display: inline-block;
            width: 100%;
            max-width: 360px;
            height: 460px;
            border-radius: 24px;
            background-color: $dark-hover;

            h3 {
                width: 40%;
                margin: 24px auto;
                padding-bottom: 8px;
                font-family: FiraSansCondensed;
                font-size: 24px;
                color: $light;
                text-align: center;
                border-bottom: solid 1px $flair;
            }

            .info {
                padding: 0 10%;
                font-family: Roboto;
                font-size: 16px;
                line-height: 115%;
                color: $light-shadow;
                text-align: left;

                b, li {
                    font-weight: 900;
                    color: $light;
                }

                br {
                    display: block;
                    content: "";
                    margin-top: 30px;
                }
            }
        }
    }
}

.place-container {
    display: inline-block;
    width: 100%;
    height: calc(22.5vw + 300px);

    .subheader-container {
        display: flex;
        height: 140px;
        width: 100%;
        align-items: center;
        justify-content: center;

        h2 {
            display: block;
            width: calc(100% - 40px);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-family: FiraSansCondensed;
            font-size: calc(min(48px, 10vw));
            text-align: center;
            color: $light;
            margin-bottom: 0;
        }
    }

    .content {
        display: inline-block;
        width: calc(100vw - max(50px, 35vw));
        height: calc(100% - 140px);
        overflow: hidden;
        padding: 0 calc(max(25px, 17.5vw));

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
            border-radius: 20px;
            overflow: hidden;
        }

        .description-wrapper {
            position: absolute;
            left: 50%;
            bottom: 0;
            width: calc(100vw - max(100px, 55vw));
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            padding: 20px;
            background-color: $dark-hover;

            transform: translateY(100%) translateX(-50%);
            -webkit-transform: translateY(100%) translateX(-50%);
            transition: 0.4s;
            -webkit-transition: 0.4s;

            label {
                font-family: Roboto;
                font-size: 18px;
                color: $light-shadow;
                white-space: normal;
    
                b, li {
                    font-weight: 900;
                    color: $light;
                }
            }
        }

        .show {
            transform: translateY(0) translateX(-50%);
            -webkit-transform: translateY(0) translateX(-50%);
        }
    }
}

.people-internal-linkage-wrapper {
    z-index: 1;
    position: sticky;
    top: 0;
    margin-top: -10px;

    .people-internal-linkage-container {
        position: absolute;
        top: 0;
        width: 300px;
        height: 100vh;
        overflow-y: scroll;
        background-color: $dark-hover;

        .link {
            background-color: $dark;

            label {
                display: block;
                font-family: Roboto;
                font-size: 18px;
                color: $light;
                text-decoration: underline;
                text-decoration-color: $flair;
                text-underline-offset: 4px;
                text-decoration-thickness: 1px;
                padding: 16px 20px;
                background-color: $dark-hover;
                transition: background-color 0.2s, margin-left 0.4s;
                transition-delay: margin-left 0.1s;
            }
    
            label:hover {
                margin-left: 40px;
                background-color: rgb(10, 10, 10);
            }
        }
    }
}

.person-container {
    h2 {
        font-family: FiraSansCondensed;
        font-size: 32px;
        color: $light;
        text-align: center;
        margin-bottom: 16px;
    }

    .content-container {
        position: relative;
        width: calc(min(100vw - 90px, 420px));
        height: 520px;
        margin: auto;
        margin-bottom: 160px;

        img {
            width: calc(min(100vw - 90px, 420px));
            height: 520px;
            border-radius: 20px;
            object-position: top;
            object-fit: cover;
        }

        label {
            position: absolute;
            bottom: -80px;
            left: 40px;
            width: calc(min(100vw - 150px, 420px));
            border-radius: 20px;
            background-color: rgba(25, 25, 25, 0.9);
            backdrop-filter: blur(6px);
            -webkit-backdrop-filter: blur(6px);
            font-family: Roboto;
            font-size: 18px;
            color: $light-shadow;
            padding: 20px;
            transition: 0.8s;
            -webkit-transition: 0.8s;

            b, li {
                font-weight: 900;
                color: $light;
            }

            br {
                display: block;
                content: "";
                margin-top: 30px;
            }

        }

        .show {
            transform: translateX(calc(min(100vw - 90px, 420px) - 80px));
            -webkit-transform: translateX(calc(min(100vw - 90px, 420px) - 80px));
        }
    }
}

.team-container {
    margin-bottom: 70px;

    h2 {
        font-family: FiraSansCondensed;
        font-size: 32px;
        color: $light;
        text-align: center;
        margin-bottom: 10px;
    }

    .content-wrapper {
        margin: auto;
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: wrap;
        width: calc(min(100vw - 40px, 1140px));

        .team-picture-container {
            width: calc(min(100vw - 40px, 720px));
            height: 500px;
            text-align: center;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top;
            }
        }

        .content-container {
            background-color: $dark-hover;
            width: 340px;
            padding: 20px;
            border-radius: 20px;

            label {
                font-family: Roboto;
                font-size: 18px;
                color: $light-shadow;
            }

            b, li {
                font-weight: 900;
                color: $light;
            }

            br {
                display: block;
                content: "";
                margin-top: 30px;
            }
        }
    }
}