$dark: rgb(45, 45, 45);
$dark-hover: rgb(25, 25, 25);
$flair: rgb(211, 77, 77);
$light: rgb(255, 255, 255);
$light-shadow: rgba(240, 240, 240, 0.6);


@font-face {
    font-family: Roboto;
    src: url("../assets/fonts/Roboto/Roboto-Medium.ttf");
}

@font-face {
    font-family: FiraSansCondensed;
    src: url("../assets/fonts/Fira_Sans_Condensed/FiraSansCondensed-Medium.ttf");
}

@font-face {
    font-family: Caveat;
    src: url("../assets/fonts/Caveat/Caveat-VariableFont_wght.ttf");
}

html {
    background-color: $dark;
    overflow-x: hidden;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

::-webkit-scrollbar {
    display: none;
}